<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://www.linkedin.com/in/michael-mccollum-64a13626/">Michael</a>. Michael is a compassionate healthcare professional who is incorporating his technical experience to bring his full stack web development to your non-profit organization.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'mike.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Michael McCollum</h2>
      <br />
      <p>
        Michael is a web developer in training through the University of Wisconsin Full Stack Web Development Program. He's worked in healthcare in the Madison, Wisconsin area for 10+ years and with EPIC health software for 5+ years, most of this experience at Agrace Hospice in Madison (<a target="_blank" href="http://www.agrace.org/">Agrace</a>) and most recently led the user experience for Agrace's <a target="_blank" href="https://www.ageathome.com/">Age at Home</a>, building quality in to home health care services via web support and a dynamic software plaform. In his free time, Michael loves to travel with his wife, Jen, with current plans for a European / Mediterranean trip in 2020.
      </p>
    </div>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />