@font-face {
    font-family: 'caviar_dreamsregular';
    src: font_url('caviardreams-webfont.woff2') format('woff2'),
         font_url('caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}